// Base Colors
$black:                     #000000;
$mine_shaft:                #3C3C3C;
$oslo_gray:                 #95989A;
$french_gray:               #C5C5C7;
$pumice:                    #D3D7D3;
$gray_nurse:                #F4F5F4;
$white:                     #FFFFFF;

// Primary Colors
$pizazz:                    #FB8F00;
$atlantis:                  #76B82B;

// Secondary Colors
$mojo:                      #CC5241;
$amber:                     #FDC300;
$jungle_green:              #28BB99;
$azure_radiance:            #007AFF;

// Main Buttons
$btn-atlantis:              #76B82B;
$btn-atlantis-hover:        #83CD2F;
$btn-atlantis-active:       #57891F;
$btn-atlantis-disabled:     #BDEF85;

$btn-gray_nurse:            #F5F6F5;
$btn-gray_nurse-hover:      #FFFFFF;
$btn-gray_nurse-active:     #C5C5C7;
$btn-gray_nurse-disabled:   #EDEDED;

// Secondary Buttons
$btn-mojo:                  #CC5241;
$btn-mojo-hover:            #F0624F;
$btn-mojo-active:           #9B3527;
$btn-mojo-disabled:         #F49588;

$btn-science_blue:          #0062CC;
$btn-science_blue-hover:    #0075F4;
$btn-science_blue-active:   #00438B;
$btn-science_blue-disabled: #73B4FC;

$btn-pizazz:                #FB8F00;
$btn-pizazz-hover:          #F7A02E;
$btn-pizazz-active:         #DB7D00;
$btn-pizazz-disabled:       #FACE93;

$btn-dove_gray:             #666666;
$btn-dove_gray-hover:       #9D9B9B;
$btn-dove_gray-active:      #484747;
$btn-dove_gray-disabled:    #D0CECE;

$btn-astral:                #38839D;
$btn-astral-hover:          #439CBA;
$btn-astral-active:         #306A7E;
$btn-astral-disabled:       #86C3D8;

// Toastr
$toastr-error:              #F85D5C;
$toastr-info:               #3879A0;
$toastr-success:            #00BE9D;
$toastr-warning:            #F7A02E;
